@font-face {
    font-family: 'Nunito'; 
    src: url('Nunito.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
    color: white;
    overflow-x: hidden;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 9px; 
    margin-top: 4.5px; 
    background-color: #100E17;
}
::-webkit-scrollbar-thumb {
    background: #1D1C1F; 
    border-radius: 9px; 
}

.grid-container {
    display: grid;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr auto;
    grid-template-areas: 
    "header header"
    "section main"
    "footer footer";
}


header {
    grid-area: header;
    width: 100%;
    background-color: #100E17;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header img {
    margin: 22.5px; 
    margin-left: 45px; 
}
#header-logo-small {
    display: none;
}

.searchbar {
    width: 450px; 
    margin: 22.5px; 
    padding: 9px; 
    border-radius: 31.5px; 
    background-color: #1D1C1F;
}

.searchbar input {
    border: none;
    outline: none;
    background-color: #1D1C1F;
    color: white;
    font-size: 13.5px; 
    padding: 9px; 
    border-radius: 25.2px; 
    width: 100%;
    background: transparent;
}

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    content: URL(/images/close_icon.svg);
    cursor: pointer;
}

.searchbar img {
    margin: 0px;
    margin-right: 9px; 
    margin-left: 9px; 
}

.searchbar img:hover {
    cursor: pointer;
}

.searchbar button {
    border: none;
    background-color: #1D1C1F;
    color: white;
    font-size: 13.5px; 
    border-radius: 25.2px; 
    cursor: pointer;
}

.searchLocation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B5A1E5;
    color: black;
    border: none;
    margin: 22.5px;
    cursor: pointer;
    border-radius: 22.5px;
    height: 45px; 
    width: 180px; 
    font-size: 14.4px;
    transition: width 0.3s ease, height 0.3s ease; 
}

.searchLocation:hover {
    background-color: #A18CD1;
}

.searchLocation img {
    margin: 0px;
    margin-right: 13.5px; 
}
section {
    grid-area: section;
    background-color: #100E17;
    flex-basis: 270px;
}
.time {
    font-size: 20px;
}
.detailed-information h2 {
    font-size: 20px; 
    margin: 15px; 
}

.weather-card {
    grid-area: section;
    min-width: 270px;
    background-color: #1D1C1F;
    margin: 22.5px; 
    padding: 22.5px; 
    border-radius: 22.5px; 
}

.date-container-weather {
    display: flex;
    align-items: center;
    min-width: 270px;
}

.date-container-weather h2 {
    font-size: 63px;
    margin: 9px;
    margin-right: 27px; 
    margin-left: 9px; 
}

.date-container-weather img {
    margin: 9px; 
    width: 90px; 
    height: 90px; 
}

.date-container {
    display: flex;
    align-items: center;
    margin-left: 9px; 
    color: #B9B6BF;
}

.date-container img {
    margin-right: 7.2px; 
}
.weather-description {
    font-size: 13.5px; 
    margin-left: 9px; 
}

hr {
    border: 0;
    height: 1.8px; 
    background: #3E3D40;
    margin-left: 9px;
}
.comming-soon {
    grid-area: section;
    background-color: #1D1C1F;
    margin: 22.5px; 
    padding: 22.5px; 
    border-radius: 22.5px; 
}
main {
    grid-area: main;
    background-color: #100E17;
}
.p-value{
    font-size: 35px;
}
.detailed-information {
    grid-area: main;
    width: auto;
    background-color: #1D1C1F;
    margin: 22.5px; 
    padding: 22.5px; 
    border-radius: 22.5px; 
}

.detailed-information-cards {
    color: #B9B6BF;
}
.first-cards{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}
.second-cards{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}
.air-quality-content {
    width: 450px; 
    background-color: #1A191C;
    margin: 11px; 
    padding: 22.5px; 
    border-radius: 22.5px; 
}

.air-quality-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7B7980;
}

.air-quality-metrics {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.air-quality-metrics p {
    color: #7B7980;
    margin-bottom: 0px;
}

.air-quality-metrics img {
    margin: 9px; 
}

#first-metric-air-quality {
    margin-left: 70px; 
}

.air-quality-values {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 45px; 
    margin: 9px; 
    margin-top: 0px;
}
.value-for-mobile{
    display: none;
}

.air-quality-values p {
    margin: 9px; 
}

.sunrise-sunset-content {
    width: 450px;      
    background-color: #1A191C;
    margin: 11px; 
    padding: 22.5px; 
    border-radius: 22.5px; 
}

.sunrise-sunset-content img {
    margin: 9px; 
}

.sunrise-sunset-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7B7980;
}

.sunrise-sunset-metrics {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sunrise-sunset-metrics p {
    color: #7B7980;
    margin-bottom: 0px;
    margin-right: -15px;
}
.sunrise-sunset-values {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 45px; 
    margin: 9px; 
    margin-top: 0px;
}
.sunrise-sunset-values p {
    margin: 9px; 
}
.humidity-content {
    width: 211px;
    background-color: #1A191C;
    margin: 11px; 
    padding: 22.5px; 
    border-radius: 22.5px; 
}

.humidity-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7B7980;
}
.humidity-values {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 45px; 
}
.humidity-values p { 
    margin: 0px;
    margin-left: 70px;
}
.pressure-content {
    width: 211px; 
    background-color: #1A191C;
    margin: 11px; 
    padding: 22.5px; 
    border-radius: 22.5px; 
}

.pressure-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7B7980;
}
.pressure-values {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.pressure-values p { 
    margin: 0px;
    margin-left: 30px;
}
.units {
    font-size: 20px; 
}
.visibility-content {
    width: 211px; 
    background-color: #1A191C;
    margin: 11px; 
    padding: 22.5px; 
    border-radius: 22.5px; 
}
.visibility-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7B7980;
}
.visibility-values {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 45px; 
}
.visibility-values p { 
    margin: 0px;
    margin-left: 50px;
}
.feels-like-content {
    width: 209px; 
    background-color: #1A191C;
    margin: 11px; 
    padding: 22.5px; 
    border-radius: 22.5px; 
}
.feels-like-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7B7980;
}
.feels-like-values {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 45px; 
}
.feels-like-values p { 
    margin: 0px;
    margin-left: 70px;
}


.wind-container {
    grid-area: main;
    background-color: #1D1C1F;
    margin: 22.5px; 
    padding: 22.5px; 
    border-radius: 22.5px; 
}

footer {
    grid-area: footer;
    background-color: #100E17;
}
footer p {
    text-align: center;
    color: #7B7980;
    margin: 9px; 
}

@media (max-width: 800px) {
    .searchLocation {
        width: 50px;
        height: 50px;
        padding: 15px;
        border-radius: 50%;
        display: block;
    }
    .searchLocation p { 
        display: none;
    }
    
    .searchLocation img {
        margin: 0; 
    }
    #header-logo {
        width: 150px;
    }

}
 @media (max-width: 980px) {
 .grid-container {  
    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto auto;
    grid-template-areas: 
    "header"
    "section"
    "main"
    "footer";
}}
@media (max-width: 590px) {                                 
    .air-quality-content {
        width: 100%;
    }
    .air-quality-metrics{
        flex-wrap: wrap;
        margin: 0px;
    }
    .air-quality-values{
        flex-wrap: wrap;
        justify-content: center;
        margin-left:0 !important;
    }
    .air-quality-metrics{
        display: none;
    }
    .value-for-mobile{
        display: block;
        color: #7B7980;
        font-size: 20px;
        margin: 0 !important;
    }
    .sunrise-sunset-content {
        width: 100%;
    }
   
    .humidity-content {
        width: 100%;
    }
    .pressure-content {
        width: 100%;
    }
    .visibility-content {
        width: 100%;
    }
    .feels-like-content {
        width: 100%;
    }
    #header-logo-small {
        display: block;
        margin: 15px;
        width: 90px;
    }
    #header-logo {
        display: none;
    }
    .searchLocation{
        margin: 15px;
    }
    .searchbar {
        margin: 15px;
    }
    
   }
  


